body,
html {
  height: 100%;
}
#app {
  padding: 0;
  margin: 0;
  height: 100%;
}

.layout-container {
  width: 100%;
  padding: 5px;
  overflow-y: auto;
  overflow-x: auto;
}

.layout-container .mint-cell-title {
  text-align: left;
}

.layout-container .popup-device {
  width: 100%;
}

.layout-container .popup-menu {
  transform: translate3d(0, 0, 0);
  right: 0px;
  top: 40px;
}

.layout-container .filter-button .mint-cell-value{
  width: 100%;
}