body,
html {
  height: 100%;
}
body {
  margin: 0 auto;
}
#app {
  padding: 0;
  margin: 0;
  height: 100%;
}

.layout-container {
  width: 100%;
  padding: 0 5px;
  overflow-y: auto;
  overflow-x: auto;
}

.single-page {
  margin-top: 40px;
}

.layout-container .mint-cell-title {
  text-align: left;
}

.layout-container .popup-device {
  width: 100%;
}

.layout-container .popup-menu {
  transform: translate3d(0, 0, 0);
  right: 0px;
  top: 40px;
  overflow-y: auto;
}

.layout-container .filter-button .mint-cell-value {
  width: 100%;
}

@keyframes twinkling {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animation2 {
  animation: twinkling 2.1s infinite ease-in-out;
  animation-fill-mode: both;
  animation-play-state: running;
}
.animation2-pause {
  animation-play-state: paused;
}
// @media only screen and (min-width: 640px) {
//   body,
//   #app {
//     width: 640px;
//   }
// }
.mint-indicator-mask {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.7);
}

.donghuang-item .mint-cell-title {
  display: flex;
  align-items: center;
}

@import 'mintui.scss';
